@use "./global/" as *;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    text-rendering: auto;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: $font1;
    font-size: $font_size;
}

body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
}

// link
a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}
