@use "../global/" as *;

footer {
    width: 100%;
    min-height: 0;
    font-size: 14px;
    background: $color2;
    text-align: center;
    color: rgb(230, 230, 230);
    box-shadow: 0 0 10px #e0e0e0;
    .footer-group {
        padding: 25px 15px;
        display: grid;
        gap: 20px;
        max-width: $max-width;
        margin: 0 auto;
        h1 {
            font-size: 20px;
            font-weight: 500;
            padding-bottom: 15px;
            text-decoration: underline;
        }
        img {
            width: 100%;
            max-width: fit-content;
        }
        ul,
        li {
            list-style-type: none;
            font-size: 15px;
        }

        .fourth-footer {
            a {
                display: block;
            }
        }
    }

    .copyright {
        background-color: #3c3c3c;
        padding: 15px;
        .copyright-container {
            text-align: center;
        }
    }
}

@include medium {
    footer {
        .footer-group {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@include large {
    footer {
        .footer-group {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}
