@use "./variable" as *;
@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flexSpaceBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// responsive
@mixin large {
    @media (min-width: #{$large}) {
        @content;
    }
}

@mixin medium {
    @media (min-width: #{$medium}) {
        @content;
    }
}

@mixin small {
    @media (min-width: #{$small}) {
        @content;
    }
}
