$font1: "Poppins", serif;
$font2: "EB Garamond", serif;

$font_size: 16px;

$max-width: 1200px;

$large: 991px; // Medium devices (tablets, 992px)
$medium: 767px; // Small devices (landscape phones, 768px)
$small: 575px; // Extra small devices (portrait phones, 576px)

$color1: #317db0;
$color2: #1c4a87;
$grey: #e6e5e5;

$shadow: #d6d6d6;
